<div class="add-employee-form">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <h2 class="form-title">Add Employee</h2>

    <div class="form-group">
      <label for="name">Employee Name</label>
      <input id="name" formControlName="name" [ngClass]="{'validate' : employeeForm.get('name')?.errors && submitted}"/>
      <p *ngIf="employeeForm.controls['name'].invalid && submitted">Name is required</p>
    </div>

    <div class="form-group">
      <label for="contact">Contact No</label>
      <input id="contact" appNumberOnly formControlName="contact" [ngClass]="{'validate' : employeeForm.get('contact')?.errors && submitted}"/>
      <p *ngIf="employeeForm.controls['contact'].invalid && submitted">
        Valid 10-digit Contact No is required
      </p>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" [ngClass]="{'validate' : employeeForm.get('email')?.errors && submitted}"/>
      <p *ngIf="employeeForm.controls['email'].invalid && submitted">
        Valid Email is required
      </p>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input id="address" formControlName="address" [ngClass]="{'validate' : employeeForm.get('name')?.errors && submitted}"/>
      <p *ngIf="employeeForm.controls['address'].invalid && submitted">
        Address is required
      </p>
    </div>

    <div class="button-group">
      <button type="submit" class="submit-btn">Submit</button>
      <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
